# dockerfile stub template for Node-related packages. 

# on arch, we want to use pacman, not npm for globally installed npm packages
RUN yay -S --noconfirm \
    emmet-language-server  \
    eslint \
    eslint-language-server \
    prettier \
    tailwindcss-language-server \
    typescript \
    typescript-language-server \
    vscode-css-languageserver  \
    vscode-html-languageserver
